## Ê†πÊçÆacsÂèòÈáèÁöÑÁªÑÊàêÊûÑÂª∫‰∏ãËΩΩÊï∞ÊçÆ
- ‰∏ãËΩΩÊâÄÊúâÂèòÈáèÈúÄË¶ÅÁöÑ codeÔºàÂéüÂßã ACS ÂèòÈáèÔºâ
- ÈÄöËøáÁªôÂÆöÁöÑÂÖ¨ÂºèÁªÑÂª∫ÂèòÈáè
- ËæìÂá∫ÁªìÊûú‰∏∫ CSV Êñá‰ª∂

In [4]:
# ËØªÂèñÂÆö‰πâË°®
import pandas as pd

excel_path = "H:/GoogleDrive/Dissertation/dissertation-local/dissertation-Paper-#3/acs_data_version#2.xlsx"
json_path = "../data/acs_variable_definitions.json"
df_def = pd.read_json(json_path)
df_def.head()

,Category,Definition,Code,Description,Table
0,Education,% less_than_9th_grade,(B15003_002E + B15003_003E + B15003_004E + B15...,Percentage of population aged 25 and over whos...,acs/acs5
1,Education,% high_school,B15003_017E / B15003_001E * 100,Percentage of the population aged 25 years and...,acs/acs5
2,Education,% bachelor,B15003_022E / B15003_001E * 100,Percentage of the population aged 25 years and...,acs/acs5
3,Education,% master,B15003_023E / B15003_001E * 100,Percentage of the population aged 25 years and...,acs/acs5
4,Education,% high_school_or_higher,(B15003_017E + B15003_018E + B15003_019E + B15...,Percentage of the population aged 25 years and...,acs/acs5

In [ ]:
# ÊµãËØïÁî®‰æã
from census import Census
import pandas as pd

# ËÆæÁΩÆ‰Ω†ÁöÑ API key
API_KEY = "47ccf4da248759e799cdbe75823014b6d9055b29"  # ÊõøÊç¢‰∏∫‰Ω†Ëá™Â∑±ÁöÑ key
c = Census(API_KEY)

# Êü•ËØ¢ÂèòÈáèÔºöÊÄª‰∫∫Âè£ B01001_001EÔºàÂè™ÊîØÊåÅÂÖ® ZIP ‰∏ãËΩΩÂêéÁ≠õÈÄâÔºâ
data = c.acs5.state_zipcode(
    fields = ['B01001_001E', 'B19301_001E'],
    state_fips='06',  # ÊõøÊç¢‰∏∫‰Ω†ÈúÄË¶ÅÁöÑÂ∑û FIPS Á†Å
    zcta='*',
    year=2018
)

# ËΩ¨‰∏∫ DataFrame
df = pd.DataFrame(data)
df['B01001_001E'] = pd.to_numeric(df['B01001_001E'], errors='coerce')
df

In [7]:
import pandas as pd
import os
import re

def load_definition_table(json_path, excel_path):
    if os.path.exists(json_path):
        print(f"üîÅ ËØªÂèñÁºìÂ≠ò JSON Êñá‰ª∂: {json_path}")
        df_def = pd.read_json(json_path)
    else:
        print(f"üì• ËØªÂèñ Excel Êñá‰ª∂: {excel_path}")
        df_def = pd.read_excel(excel_path)
        df_def = df_def.dropna(subset=['Code'])
        df_def.to_json(json_path, orient="records", indent=2)
        print(f"‚úÖ Â∑≤ÁºìÂ≠ò‰∏∫ JSON Êñá‰ª∂: {json_path}")
    return df_def
    
def extract_variable_codes(code_series):
    all_vars = set()
    for formula in code_series.dropna():
        found = re.findall(r'[BC]\d{5}_\d+E', formula)
        all_vars.update(found)
    return sorted(all_vars)

- **‰∏ãËΩΩÊâÄÊúâÂèòÈáèÈúÄË¶ÅÁöÑ codeÔºàÂéüÂßã ACS ÂèòÈáèÔºâ**
- ÈÄöËøáÁªôÂÆöÁöÑÂÖ¨ÂºèÁªÑÂª∫ÂèòÈáè
- ËæìÂá∫ÁªìÊûú‰∏∫ CSV Êñá‰ª∂

In [8]:
# === Âä†ËΩΩÂÆö‰πâË°®Ôºà‰ºòÂÖà‰ΩøÁî® JSON ÁºìÂ≠òÔºâ ===
excel_path = "H:/GoogleDrive/Dissertation/dissertation-local/dissertation-Paper-#3/acs_data_version#2.xlsx"
json_path = "../data/acs_variable_definitions.json"
df_def = load_definition_table(json_path, excel_path)
definition_list = df_def['Definition'].tolist()

# === ‰∏ãËΩΩÂéüÂßãÂèòÈáè ===
var_codes = extract_variable_codes(df_def['Code'])

üîÅ ËØªÂèñÁºìÂ≠ò JSON Êñá‰ª∂: ../data/acs_variable_definitions.json

In [10]:
from census import Census
import pandas as pd

# ËÆæÁΩÆ‰Ω†ÁöÑ API key
API_KEY = "47ccf4da248759e799cdbe75823014b6d9055b29"  # ÊõøÊç¢‰∏∫‰Ω†Ëá™Â∑±ÁöÑ key
c = Census(API_KEY)

# Êü•ËØ¢ÂèòÈáèÔºöÊÄª‰∫∫Âè£ B01001_001EÔºàÂè™ÊîØÊåÅÂÖ® ZIP ‰∏ãËΩΩÂêéÁ≠õÈÄâÔºâ
data = c.acs5.state_zipcode(
    fields = var_codes,
    state_fips='06',  # ÊõøÊç¢‰∏∫‰Ω†ÈúÄË¶ÅÁöÑÂ∑û FIPS Á†Å
    zcta='*',
    year=2018
)

# ËΩ¨‰∏∫ DataFrame
df = pd.DataFrame(data)
# Â∞ÜÊâÄÊúâvar_codes‰∏≠ÁöÑÂèòÈáèËΩ¨Êç¢‰∏∫Êï∞ÂÄºÁ±ªÂûã
for var in var_codes:
    df[var] = pd.to_numeric(df[var], errors='coerce')
df

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,C16001_032E,C16001_034E,C16001_035E,C16001_037E,C16001_038E,C24010_001E,C24010_003E,C24010_019E,C24010_042E,C24010_058E
0,58975.0,30349.0,2630.0,2882.0,2614.0,1586.0,1169.0,570.0,412.0,1455.0,...,0.0,5.0,0.0,19.0,17.0,23818.0,1124.0,2287.0,193.0,95.0
1,53111.0,25518.0,2560.0,2450.0,2361.0,1565.0,768.0,425.0,510.0,1304.0,...,0.0,0.0,0.0,51.0,26.0,19665.0,930.0,2299.0,227.0,140.0
2,72741.0,35361.0,3242.0,3391.0,3271.0,2179.0,1049.0,619.0,428.0,1605.0,...,0.0,70.0,0.0,73.0,13.0,28690.0,1281.0,3501.0,158.0,194.0
3,61586.0,30602.0,1649.0,1344.0,1727.0,1028.0,792.0,299.0,462.0,1356.0,...,644.0,41.0,8.0,67.0,52.0,33874.0,5988.0,3964.0,602.0,71.0
4,39479.0,19602.0,1188.0,1103.0,851.0,359.0,429.0,279.0,172.0,862.0,...,210.0,28.0,113.0,141.0,88.0,21500.0,3304.0,3683.0,402.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,696.0,419.0,41.0,42.0,23.0,0.0,11.0,0.0,16.0,15.0,...,0.0,0.0,0.0,0.0,0.0,386.0,37.0,51.0,0.0,0.0
1760,29357.0,14913.0,792.0,634.0,716.0,433.0,363.0,117.0,153.0,677.0,...,116.0,19.0,0.0,16.0,24.0,15276.0,2218.0,2221.0,349.0,14.0
1761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1762,18333.0,9461.0,540.0,736.0,590.0,296.0,269.0,0.0,109.0,212.0,...,17.0,23.0,0.0,0.0,0.0,10361.0,2077.0,1075.0,310.0,40.0
1763,138.0,74.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0

In [11]:
def calculate_custom_variables(df_raw, df_def):
    import re

    def get_vars_from_formula(formula):
        return re.findall(r'[BC]\d{5}_\d+E', formula)

    def safe_eval_formula(df, formula, var_name):
        needed_vars = get_vars_from_formula(formula)
        missing_vars = [v for v in needed_vars if v not in df.columns]
        if missing_vars:
            print(f"‚ö†Ô∏è Ë∑≥Ëøá {var_name}ÔºåÁº∫Â§±ÂèòÈáè: {missing_vars}")
            return None
        try:
            return df.eval(formula)
        except Exception as e:
            print(f"‚ùå ÂÖ¨ÂºèÈîôËØØ {var_name}: {e}")
            return None

    df = df_raw.copy()
    for _, row in df_def.iterrows():
        var_name = row['Definition']
        formula = row['Code']
        result = safe_eval_formula(df, formula, var_name)
        if result is not None:
            df[var_name] = result
    return df

In [12]:
df_def = load_definition_table(json_path, excel_path)
var_codes = extract_variable_codes(df_def["Code"])
# ... ‰∏ãËΩΩ df_raw ÈÄªËæëÁúÅÁï• ...
df_final = calculate_custom_variables(df, df_def)

# ÈÄâÂá∫‰Ω†ÈúÄË¶Å‰øùÁïôÁöÑÂú∞ÁêÜÂàó + ÊûÑÂª∫ÁöÑÊñ∞ÂèòÈáèÂàó
geo_cols = ['state', 'zip code tabulation area']
custom_vars = df_def['Definition'].tolist()
df_output = df_final[geo_cols + custom_vars]
# ÈáçÂëΩÂêç zip code Âàó
df_output = df_output.rename(columns={'zip code tabulation area': 'zipcode'})
df_output

üîÅ ËØªÂèñÁºìÂ≠ò JSON Êñá‰ª∂: ../data/acs_variable_definitions.json

,state,zipcode,% less_than_9th_grade,% high_school,% bachelor,% master,% high_school_or_higher,% english_speaker,% spanish_speaker,% asian_speaker,...,% multi-unit structures,% without plumbing,% overcrowded housing,% renter-occupied,% households without a vehicle,% with access to a vehicle,commute time,% work at home,% professinal,% service
0,06,90001,35.924476,22.624205,4.179488,0.561647,45.409733,61.408519,85.132304,0.153906,...,22.030222,0.166486,33.391241,64.053565,11.719146,88.280854,22586.0,2.596170,5.529432,10.000840
1,06,90002,31.188102,25.114738,3.920080,0.755720,49.998275,66.213560,74.741895,1.057249,...,27.996100,0.094444,21.934519,64.268849,14.599402,85.400598,18791.0,2.150594,5.883549,12.402746
2,06,90003,29.843352,24.879174,4.252580,1.095325,50.775956,66.399709,74.028432,0.369400,...,30.120748,0.029194,26.233433,71.647107,16.523618,83.476382,27281.0,2.159022,5.015685,12.879052
3,06,90004,15.497709,19.641677,24.676894,6.288892,74.270019,59.232449,47.395932,31.107825,...,78.997709,0.031860,22.033590,83.296163,17.154431,82.845569,31213.0,6.351635,19.454449,11.911791
4,06,90005,18.905748,20.205302,23.098192,5.129091,69.256558,48.643192,46.004953,38.709417,...,93.489729,0.000000,26.888456,92.075173,30.045007,69.954993,20096.0,4.934008,17.237209,17.334884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,06,96148,12.314225,19.532909,23.779193,6.369427,81.528662,79.809221,42.766296,0.000000,...,7.360000,0.000000,5.238095,39.523810,0.000000,100.000000,386.0,0.000000,9.585492,13.212435
1760,06,96150,5.071792,17.943492,20.213062,6.044465,89.703566,90.372693,17.726355,5.907584,...,23.786225,0.173370,4.126214,46.298544,7.229542,92.770458,13523.0,8.813216,16.804137,14.630793
1761,06,96155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1762,06,96161,3.601874,10.874741,34.436679,10.137470,92.711773,95.177752,13.927752,0.252294,...,13.823479,0.303074,2.770963,26.598355,1.948333,98.051667,9178.0,9.674245,23.038317,10.761510
1763,06,97635,0.000000,15.833333,0.000000,0.000000,64.166667,100.000000,17.391304,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,17.0,0.000000,0.000000,0.000000

In [13]:
df_output.columns = (
    df_output.columns
    .str.strip()
    .str.lower()
    .str.replace('%', 'pct')
    .str.replace(' ', '_')
    .str.replace('-', '_')
)
df_output

,state,zipcode,pct_less_than_9th_grade,pct_high_school,pct_bachelor,pct_master,pct_high_school_or_higher,pct_english_speaker,pct_spanish_speaker,pct_asian_speaker,...,pct_multi_unit_structures,pct_without_plumbing,pct_overcrowded_housing,pct_renter_occupied,pct_households_without_a_vehicle,pct_with_access_to_a_vehicle,commute_time,pct_work_at_home,pct_professinal,pct_service
0,06,90001,35.924476,22.624205,4.179488,0.561647,45.409733,61.408519,85.132304,0.153906,...,22.030222,0.166486,33.391241,64.053565,11.719146,88.280854,22586.0,2.596170,5.529432,10.000840
1,06,90002,31.188102,25.114738,3.920080,0.755720,49.998275,66.213560,74.741895,1.057249,...,27.996100,0.094444,21.934519,64.268849,14.599402,85.400598,18791.0,2.150594,5.883549,12.402746
2,06,90003,29.843352,24.879174,4.252580,1.095325,50.775956,66.399709,74.028432,0.369400,...,30.120748,0.029194,26.233433,71.647107,16.523618,83.476382,27281.0,2.159022,5.015685,12.879052
3,06,90004,15.497709,19.641677,24.676894,6.288892,74.270019,59.232449,47.395932,31.107825,...,78.997709,0.031860,22.033590,83.296163,17.154431,82.845569,31213.0,6.351635,19.454449,11.911791
4,06,90005,18.905748,20.205302,23.098192,5.129091,69.256558,48.643192,46.004953,38.709417,...,93.489729,0.000000,26.888456,92.075173,30.045007,69.954993,20096.0,4.934008,17.237209,17.334884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,06,96148,12.314225,19.532909,23.779193,6.369427,81.528662,79.809221,42.766296,0.000000,...,7.360000,0.000000,5.238095,39.523810,0.000000,100.000000,386.0,0.000000,9.585492,13.212435
1760,06,96150,5.071792,17.943492,20.213062,6.044465,89.703566,90.372693,17.726355,5.907584,...,23.786225,0.173370,4.126214,46.298544,7.229542,92.770458,13523.0,8.813216,16.804137,14.630793
1761,06,96155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1762,06,96161,3.601874,10.874741,34.436679,10.137470,92.711773,95.177752,13.927752,0.252294,...,13.823479,0.303074,2.770963,26.598355,1.948333,98.051667,9178.0,9.674245,23.038317,10.761510
1763,06,97635,0.000000,15.833333,0.000000,0.000000,64.166667,100.000000,17.391304,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,17.0,0.000000,0.000000,0.000000

‚úÖ ÂäüËÉΩÊ∏ÖÂçïÔºö
**Ëá™Âä®ÈáçÂëΩÂêçÂàóÔºàÂ∞Ü %„ÄÅÁ©∫Ê†º„ÄÅËøûÂ≠óÁ¨¶ËΩ¨Êç¢Êàê SQL ÂèãÂ•ΩÊ†ºÂºèÔºâÔºõ

‰∏∫ÊØè‰∏™ ZIP code Ëé∑Âèñ‰∏≠ÂøÉÁÇπÁªèÁ∫¨Â∫¶ÔºàÂπ∂ÊûÑÈÄ† PostGIS Point Á±ªÂûãÔºâÔºõ**

Â∞ÜÊï∞ÊçÆÂÜôÂÖ• PostgreSQL ÁöÑ acs_data Ë°®ÔºàÂÅáËÆæ‰Ω†Â∑≤ËøêË°åÂª∫Ë°® SQLÔºâÔºõ

‰ΩøÁî® SQLAlchemy + GeoAlchemy2 ÂÜôÂÖ•ÊîØÊåÅÁ©∫Èó¥ÂàóÁöÑË°®„ÄÇ

In [ ]:
import pandas as pd
from geoalchemy2 import WKTElement

def attach_zip_latlon_geom(df, zip_latlon_csv_path):
    """
    Â∞Ü ZIP ÁªèÁ∫¨Â∫¶‰ø°ÊÅØÂêàÂπ∂Ëøõ‰∏ª DataFrameÔºåÂπ∂ÂàõÂª∫ PostGIS ÁöÑ POINT(ÁªèÂ∫¶ Á∫¨Â∫¶) geometry Â≠óÊÆµ„ÄÇ

    ÂèÇÊï∞Ôºö
        df: Pandas DataFrameÔºåÂåÖÂê´ 'zipcode' ÂàóÔºàÂ∫î‰∏∫Â≠óÁ¨¶‰∏≤Ôºâ
        zip_latlon_csv_path: ÂåÖÂê´ ZIP, lat, lng ÁöÑ CSV Êñá‰ª∂Ë∑ØÂæÑ

    ËøîÂõûÔºö
        df: ÂêàÂπ∂‰∫ÜÁªèÁ∫¨Â∫¶Âíå geom Â≠óÊÆµÁöÑÊñ∞ DataFrame
    """
    # ËØªÂèñ ZIP ÂùêÊ†áÊï∞ÊçÆ
    zip_coords = pd.read_csv(zip_latlon_csv_path)
    zip_coords.columns = zip_coords.columns.str.lower()
    
    # Á°Æ‰øùÂ≠óÊÆµÂ≠òÂú®
    if not {'zip', 'lat', 'lng'}.issubset(zip_coords.columns):
        raise ValueError("CSV Êñá‰ª∂ÂøÖÈ°ªÂåÖÂê´ 'zip', 'lat', 'lng' Âàó")

    # ËΩ¨‰∏∫Â≠óÁ¨¶‰∏≤Á±ªÂûã‰ª•‰æøÂåπÈÖç
    zip_coords['zip'] = zip_coords['zip'].astype(str)
    df['zipcode'] = df['zipcode'].astype(str)

    # ÂêàÂπ∂ÁªèÁ∫¨Â∫¶
    df = df.merge(zip_coords[['zip', 'lat', 'lng']], left_on='zipcode', right_on='zip', how='left')
    df.drop(columns=['zip'], inplace=True)

    # ÂàõÂª∫ geometry ÂàóÔºàWKT Ê†ºÂºèÔºå4326 ÊäïÂΩ±Ôºâ
    df['geom'] = df.apply(
        lambda row: WKTElement(f"POINT({row['lng']} {row['lat']})", srid=4326)
        if pd.notnull(row['lat']) and pd.notnull(row['lng']) else None,
        axis=1
    )

    return df

In [ ]:
df_acs = pd.read_csv("acs_processed_output.csv")
df_acs = attach_zip_latlon_geom(df_acs, "../data/us_zip_lat_lon.csv")

In [ ]:
df_acs["year"] = 2018
df_acs

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.types import Float, Integer, Text
from geoalchemy2 import Geometry

def write_df_to_postgres(df, table_name, db_url):
    """
    Â∞Ü DataFrame ÂÜôÂÖ• PostgreSQL Ë°®ÔºàÊîØÊåÅ PostGIS geom ÂàóÔºâ

    ÂèÇÊï∞:
        df: ÂåÖÂê´Êï∞ÊçÆÁöÑ DataFrameÔºåÂøÖÈ°ªÂåÖÂê´ 'geom' ÂàóÔºàGeoAlchemy WKTElement Á±ªÂûãÔºâ
        table_name: ÁõÆÊ†áË°®ÂêçÔºå‰æãÂ¶Ç 'acs_data'
        db_url: SQLAlchemy Ê†ºÂºèÁöÑËøûÊé•Â≠óÁ¨¶‰∏≤Ôºå‰æãÂ¶Ç 'postgresql+psycopg2://user:pwd@localhost:5432/db'
    """
    engine = create_engine(db_url)

    # Â≠óÊÆµÁ±ªÂûãÊò†Â∞ÑÔºàÂèØ‰ª•Ê†πÊçÆÂÆûÈôÖÊï∞ÊçÆÂÜçÁªÜÂåñÔºâ
    dtype = {
        'zipcode': Text(),
        'state': Text(),
        'year': Integer(),
        'population': Integer(),
        'median_income': Float(),
        'per_capita_income': Float(),
        'geom': Geometry('POINT', srid=4326)
    }

    # Ëá™Âä®ËØÜÂà´ÂÖ∂‰ΩôÂàó‰∏∫ Float Á±ªÂûã
    for col in df.columns:
        if col not in dtype and col not in ['geom']:
            dtype[col] = Float()

    # ÂÜôÂÖ•Êï∞ÊçÆÂ∫ì
    df.to_sql(
        name=table_name,
        con=engine,
        if_exists='append',
        index=False,
        dtype=dtype,
        method='multi'
    )

    print(f"‚úÖ Êï∞ÊçÆÂ∑≤ÊàêÂäüÂÜôÂÖ• PostgreSQL Ë°® `{table_name}`")

In [ ]:
import pandas as pd

# ÂÜôÂÖ•Êï∞ÊçÆÂ∫ì
db_url = "postgresql+psycopg2://postgres:wym45123@localhost:5432/dashboard"
write_df_to_postgres(df_acs, table_name="acs_data", db_url=db_url)

In [71]:
import os
import re
import json
import pandas as pd
from census import Census
from geoalchemy2 import WKTElement
from sqlalchemy import create_engine
from sqlalchemy.types import Float, Integer, Text
from geoalchemy2 import Geometry
from us import states 

# ========== ÂèÇÊï∞ÈÖçÁΩÆ ==========
API_KEY = "47ccf4da248759e799cdbe75823014b6d9055b29"
YEAR = 2018
STATE_FIPS = '06'  # California
EXCEL_PATH = "H:/GoogleDrive/Dissertation/dissertation-local/dissertation-Paper-#3/acs_data_version#2.xlsx"
JSON_PATH = "../data/acs_variable_definitions.json"
ZIP_LATLON_PATH = "../data/us_zip_lat_lon.csv"
OUTPUT_PATH = "acs_processed_output.csv"


# ========== ÂáΩÊï∞ÂÆö‰πâ ==========

def load_definition_table(json_path: str, excel_path: str) -> pd.DataFrame:
    """Âä†ËΩΩÂèòÈáèÂÆö‰πâË°®Ôºå‰ºòÂÖàËØªÂèñ JSON ÁºìÂ≠òÔºåÂê¶Âàô‰ªé Excel ÂØºÂÖ•Âπ∂‰øùÂ≠ò JSON„ÄÇ"""
    if os.path.exists(json_path):
        print(f"üîÅ ËØªÂèñÁºìÂ≠ò JSON Êñá‰ª∂: {json_path}")
        return pd.read_json(json_path)
    else:
        print(f"üì• ËØªÂèñ Excel Êñá‰ª∂: {excel_path}")
        df_def = pd.read_excel(excel_path)
        df_def = df_def.dropna(subset=['Code'])
        df_def.to_json(json_path, orient="records", indent=2)
        print(f"‚úÖ Â∑≤ÁºìÂ≠ò‰∏∫ JSON Êñá‰ª∂: {json_path}")
    return df_def


def extract_variable_codes(code_series: pd.Series) -> list:
    """ÊèêÂèñÂÖ¨ÂºèÊàñ‰ª£Á†Å‰∏≠ÁöÑÊâÄÊúâÂéüÂßã ACS ÂèòÈáèÂêç„ÄÇ"""
    all_vars = set()
    for formula in code_series.dropna():
        found = re.findall(r'[BC]\d{5}_\d+E', formula)
        all_vars.update(found)
    print(f"üîÅ ÊèêÂèñÂÖ¨ÂºèÊàñ‰ª£Á†Å‰∏≠ÁöÑÊâÄÊúâÂéüÂßã ACS ÂèòÈáèÂêç")
    return sorted(all_vars)

def enrich_with_zip_info(df: pd.DataFrame, zip_info_path: str) -> pd.DataFrame:
    """
    Ê∏ÖÊ¥ó dfÔºåÂπ∂Ê†πÊçÆ zip_info CSV Ê∑ªÂä† city Âíå state ‰ø°ÊÅØ„ÄÇ
    Ê≠•È™§Ôºö
    1. ÈáçÂëΩÂêç 'zip code tabulation area' ‰∏∫ 'zipcode'
    2. Â¶ÇÊûú 'state' ÂàóÂ≠òÂú®ÔºåÂàôÂà†Èô§
    3. Ê†πÊçÆ zipcode ÂêàÂπ∂ zip_info ‰∏≠ÁöÑ city Âíå state
    """
    # ÈáçÂëΩÂêçÂ≠óÊÆµ
    if 'zip code tabulation area' in df.columns:
        df = df.rename(columns={'zip code tabulation area': 'zipcode'})

    # Âà†Èô§Â∑≤Êúâ state Âàó
    if 'state' in df.columns:
        df = df.drop(columns=['state'])

    # Âä†ËΩΩ ZIP -> city/state Êò†Â∞ÑË°®
    zip_info = pd.read_csv(zip_info_path)
    zip_info.columns = zip_info.columns.str.lower()
    
    if not {'zip', 'city', 'state'}.issubset(zip_info.columns):
        raise ValueError("ZIP Êò†Â∞ÑË°®ÂøÖÈ°ªÂåÖÂê´ 'zip', 'city', 'state' Â≠óÊÆµ")

    zip_info['zip'] = zip_info['zip'].astype(str)
    df['zipcode'] = df['zipcode'].astype(str)

    # ÂêàÂπ∂
    df = df.merge(zip_info[['zip', 'city', 'state']], left_on='zipcode', right_on='zip', how='left')
    df.drop(columns=['zip'], inplace=True)

    return df



def download_acs_data(api_key: str, year: int, state_fips: str, var_codes: list) -> pd.DataFrame:
    """‰ΩøÁî® Census API ‰∏ãËΩΩÊåáÂÆöÂèòÈáèÁöÑ ACS Êï∞ÊçÆ(ZIP Á∫ßÂà´)„ÄÇ"""
    c = Census(api_key)
    data = c.acs5.state_zipcode(
        fields=var_codes,
        state_fips=state_fips,
        zcta='*',
        year=year
    )
    df = pd.DataFrame(data)
    for var in var_codes:
        df[var] = pd.to_numeric(df[var], errors='coerce')

    return df

def download_acs_data_old(api_key: str, year: int, var_codes: list) -> pd.DataFrame:
    """
    ‰∏ãËΩΩÂÖ®ÁæéÊâÄÊúâÂ∑ûÁöÑ ACS ZIP Á∫ßÂà´Êï∞ÊçÆÔºåÂπ∂ÂêàÂπ∂‰∏∫‰∏Ä‰∏™ DataFrame„ÄÇ

    ÂèÇÊï∞Ôºö
        api_key: Census API Key
        year: Âπ¥‰ªΩÔºà‰æãÂ¶Ç 2018, 2019Ôºâ
        var_codes: Ë¶ÅËØ∑Ê±ÇÁöÑ ACS ÂèòÈáè‰ª£Á†ÅÂàóË°®

    ËøîÂõûÔºö
        ÂåÖÂê´ÂÖ®Áæé ZIP Êï∞ÊçÆÁöÑ Pandas DataFrame
    """
    c = Census(api_key)
    all_dfs = []

    # ÊéíÈô§ÈòøÊãâÊñØÂä†„ÄÅÂ§èÂ®ÅÂ§∑„ÄÅÂçéÁõõÈ°øÁâπÂå∫„ÄÅÊµ∑Â§ñÈ¢ÜÂú∞Á≠â
    excluded = {"AK", "HI", "DC", "PR", "VI", "GU", "MP", "AS"}

    # Ëé∑ÂèñÂ§ßÈôÜÂ∑ûÁöÑ State ÂØπË±°ÂàóË°®
    continental_states = [s for s in states.STATES if s.abbr not in excluded]

    for state in states.STATES:
        state_fips = state.fips
        try:
            print(f"‚¨á Ê≠£Âú®‰∏ãËΩΩ {state.name} ({state_fips}) ÁöÑÊï∞ÊçÆ...")
            data = c.acs5.state_zipcode(
                fields=var_codes,
                state_fips=state_fips,
                zcta='*',
                year=year
            )
            df = pd.DataFrame(data)
            for var in var_codes:
                df[var] = pd.to_numeric(df[var], errors='coerce')
            all_dfs.append(df)
        except Exception as e:
            print(f"‚ùå Êó†Ê≥ï‰∏ãËΩΩ {state.name}Ôºà{state_fips}Ôºâ: {e}")
            continue

    # ÂêàÂπ∂ÊâÄÊúâÂ∑ûÁöÑÊï∞ÊçÆ
    if all_dfs:
        df_all = pd.concat(all_dfs, ignore_index=True)
        return df_all
    else:
        print("‚ö†Ô∏è Êú™ËÉΩÊàêÂäü‰∏ãËΩΩ‰ªª‰ΩïÂ∑ûÁöÑÊï∞ÊçÆ„ÄÇ")
        return pd.DataFrame()


def calculate_custom_variables(df_raw: pd.DataFrame, df_def: pd.DataFrame) -> pd.DataFrame:
    """Ê†πÊçÆËá™ÂÆö‰πâÂÖ¨ÂºèËÆ°ÁÆóË°çÁîüÂèòÈáè„ÄÇ"""
    def get_vars_from_formula(formula):
        return re.findall(r'[BC]\d{5}_\d+E', formula)

    def safe_eval_formula(df, formula, var_name):
        needed_vars = get_vars_from_formula(formula)
        missing = [v for v in needed_vars if v not in df.columns]
        if missing:
            print(f"‚ö†Ô∏è Ë∑≥Ëøá {var_name}ÔºåÁº∫Â§±ÂèòÈáè: {missing}")
            return None
        try:
            return df.eval(formula)
        except Exception as e:
            print(f"‚ùå ÈîôËØØÂÖ¨Âºè {var_name}: {e}")
            return None

    df = df_raw.copy()
    for _, row in df_def.iterrows():
        var_name = row['Definition']
        formula = row['Code']
        result = safe_eval_formula(df, formula, var_name)
        if result is not None:
            df[var_name] = result
    print(f"üîÅ Ê†πÊçÆËá™ÂÆö‰πâÂÖ¨ÂºèËÆ°ÁÆóË°çÁîüÂèòÈáè")
    return df


def clean_and_rename_columns(df: pd.DataFrame, df_def: pd.DataFrame) -> pd.DataFrame:
    """ÈáçÂëΩÂêçÂàóÂπ∂Ê†áÂáÜÂåñÂ≠óÊÆµÊ†ºÂºè„ÄÇ"""
    geo_cols = ['state', 'city', 'zipcode']
    custom_vars = df_def['Definition'].tolist()
    df = df[geo_cols + custom_vars]
    # df = df.rename(columns={'zip code tabulation area': 'zipcode'})
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace('%', 'pct', regex=False)
        .str.replace(' ', '_')
        .str.replace('-', '_')
    )
    print(f"üîÅ ÈáçÂëΩÂêçÂàóÂπ∂Ê†áÂáÜÂåñÂ≠óÊÆµÊ†ºÂºè")
    return df


def attach_zip_latlon_geom(df: pd.DataFrame, zip_latlon_csv_path: str) -> pd.DataFrame:
    """ÂêàÂπ∂ ZIP ÁªèÁ∫¨Â∫¶ÂùêÊ†áÔºåÂπ∂ÂàõÂª∫ PostGIS ÂÖºÂÆπÁöÑ geom Âàó„ÄÇ"""
    zip_coords = pd.read_csv(zip_latlon_csv_path)
    zip_coords.columns = zip_coords.columns.str.lower()

    if not {'zip', 'lat', 'lng'}.issubset(zip_coords.columns):
        raise ValueError("CSV Êñá‰ª∂ÂøÖÈ°ªÂåÖÂê´ 'zip', 'lat', 'lng' Âàó")

    zip_coords['zip'] = zip_coords['zip'].astype(str)
    df['zipcode'] = df['zipcode'].astype(str)

    df = df.merge(zip_coords[['zip', 'lat', 'lng']], left_on='zipcode', right_on='zip', how='left')
    df.drop(columns=['zip'], inplace=True)

    df['geom'] = df.apply(
        lambda row: WKTElement(f"POINT({row['lng']} {row['lat']})", srid=4326)
        if pd.notnull(row['lat']) and pd.notnull(row['lng']) else None,
        axis=1
    )
    return df

def write_df_to_postgres(df, table_name, db_url):
    """
    Â∞Ü DataFrame ÂÜôÂÖ• PostgreSQL Ë°®ÔºàÊîØÊåÅ PostGIS geom ÂàóÔºâ

    ÂèÇÊï∞:
        df: ÂåÖÂê´Êï∞ÊçÆÁöÑ DataFrameÔºåÂøÖÈ°ªÂåÖÂê´ 'geom' ÂàóÔºàGeoAlchemy WKTElement Á±ªÂûãÔºâ
        table_name: ÁõÆÊ†áË°®ÂêçÔºå‰æãÂ¶Ç 'acs_data'
        db_url: SQLAlchemy Ê†ºÂºèÁöÑËøûÊé•Â≠óÁ¨¶‰∏≤Ôºå‰æãÂ¶Ç 'postgresql+psycopg2://user:pwd@localhost:5432/db'
    """
    engine = create_engine(db_url)

    # Â≠óÊÆµÁ±ªÂûãÊò†Â∞ÑÔºàÂèØ‰ª•Ê†πÊçÆÂÆûÈôÖÊï∞ÊçÆÂÜçÁªÜÂåñÔºâ
    dtype = {
        'zipcode': Text(),
        'state': Text(),
        'city': Text(),
        'year': Integer(),
        'population': Integer(),
        'median_income': Float(),
        'per_capita_income': Float(),
        'geom': Geometry('POINT', srid=4326)
    }

    # Ëá™Âä®ËØÜÂà´ÂÖ∂‰ΩôÂàó‰∏∫ Float Á±ªÂûã
    for col in df.columns:
        if col not in dtype and col not in ['geom']:
            dtype[col] = Float()

    # ÂÜôÂÖ•Êï∞ÊçÆÂ∫ì
    df.to_sql(
        name=table_name,
        con=engine,
        if_exists='append',
        index=False,
        dtype=dtype,
        method='multi'
    )

    print(f"‚úÖ Êï∞ÊçÆÂ∑≤ÊàêÂäüÂÜôÂÖ• PostgreSQL Ë°® `{table_name}`")

# ========== ‰∏ªÊµÅÁ®ã ==========

In [76]:
# 1. Âä†ËΩΩÂèòÈáèÂÆö‰πâ
df_def = load_definition_table(JSON_PATH, EXCEL_PATH)

# 2. ÊèêÂèñÂéüÂßãÂèòÈáè‰ª£Á†Å
var_codes = extract_variable_codes(df_def['Code'])

year = 2016
# 3. ‰∏ãËΩΩÂéüÂßã ACS Êï∞ÊçÆ
if year >= 2020:
    df_raw = download_acs_data(API_KEY, year, STATE_FIPS, var_codes)
else:
    df_raw = download_acs_data_old(API_KEY, year, var_codes)

df_enriched = enrich_with_zip_info(df_raw, "../data/us_zip_lat_lon.csv")
# 4. ËÆ°ÁÆóËá™ÂÆö‰πâÊåáÊ†á
df_final = calculate_custom_variables(df_enriched, df_def)
# 5. ÈáçÂëΩÂêç„ÄÅÊ∏ÖÊ¥óÂàó
df_cleaned = clean_and_rename_columns(df_final, df_def)

# 6. ÈôÑÂä†ÁªèÁ∫¨Â∫¶‰∏éÁ©∫Èó¥Â≠óÊÆµ
df_with_geom = attach_zip_latlon_geom(df_cleaned, ZIP_LATLON_PATH)

# 7. Ê∑ªÂä†Âπ¥‰ªΩ‰ø°ÊÅØ
df_with_geom['year'] = year

# 8. ‰øùÂ≠òÁªìÊûú
df_with_geom.head()

üîÅ ËØªÂèñÁºìÂ≠ò JSON Êñá‰ª∂: ../data/acs_variable_definitions.json
üîÅ ÊèêÂèñÂÖ¨ÂºèÊàñ‰ª£Á†Å‰∏≠ÁöÑÊâÄÊúâÂéüÂßã ACS ÂèòÈáèÂêç
‚¨á Ê≠£Âú®‰∏ãËΩΩ Alabama (01) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Alaska (02) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Arizona (04) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Arkansas (05) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ California (06) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Colorado (08) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Connecticut (09) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Delaware (10) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Florida (12) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Georgia (13) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Hawaii (15) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Idaho (16) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Illinois (17) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Indiana (18) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Iowa (19) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Kansas (20) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Kentucky (21) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Louisiana (22) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Maine (23) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Maryland (24) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Massachusetts (25) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Michigan (26) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Minnesota (27) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Mississippi (28) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Missouri (29) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Montana (30) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Nebraska (31) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Nevada (32) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ New Hampshire (33) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ New Jersey (34) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ New Mexico (35) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ New York (36) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ North Carolina (37) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ North Dakota (38) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Ohio (39) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Oklahoma (40) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Oregon (41) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Pennsylvania (42) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Rhode Island (44) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ South Carolina (45) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ South Dakota (46) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Tennessee (47) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Texas (48) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Utah (49) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Vermont (50) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Virginia (51) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Washington (53) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ West Virginia (54) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Wisconsin (55) ÁöÑÊï∞ÊçÆ...
‚¨á Ê≠£Âú®‰∏ãËΩΩ Wyoming (56) ÁöÑÊï∞ÊçÆ...
üîÅ Ê†πÊçÆËá™ÂÆö‰πâÂÖ¨ÂºèËÆ°ÁÆóË°çÁîüÂèòÈáè
üîÅ ÈáçÂëΩÂêçÂàóÂπ∂Ê†áÂáÜÂåñÂ≠óÊÆµÊ†ºÂºè

C:\Users\Now Now\AppData\Local\Temp\ipykernel_45464\3307185017.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['zipcode'] = df['zipcode'].astype(str)

,state,city,zipcode,pct_less_than_9th_grade,pct_high_school,pct_bachelor,pct_master,pct_high_school_or_higher,pct_english_speaker,pct_spanish_speaker,...,pct_households_without_a_vehicle,pct_with_access_to_a_vehicle,commute_time,pct_work_at_home,pct_professinal,pct_service,lat,lng,geom,year
0,AL,Moody,35004,2.034276,24.104779,14.323534,5.225024,93.242302,99.348733,0.132289,...,2.769231,97.230769,5297.0,3.162706,18.773267,5.761390,33.603543,-86.466833,POINT(-86.466833 33.603543),2016
1,AL,Adamsville,35005,4.424447,30.708661,9.336333,4.161980,83.314586,99.243570,2.255536,...,3.963102,96.036898,2976.0,0.766922,9.166667,6.634615,33.578097,-86.987228,POINT(-86.987228 33.578097),2016
2,AL,Adger,35006,3.788969,35.059952,7.098321,2.350120,85.659472,99.081007,1.225323,...,4.037006,95.962994,1012.0,1.268293,11.058151,6.577693,33.437653,-87.207592,POINT(-87.207592 33.437653),2016
3,AL,Alabaster,35007,5.241912,23.448195,19.358802,8.260692,88.492365,93.595704,10.716576,...,1.671437,98.328563,11898.0,4.110251,21.006530,7.811753,33.193415,-86.794377,POINT(-86.794377 33.193415),2016
4,AL,Alexander City,35010,8.692047,26.380156,10.184481,2.998687,74.262420,98.319800,3.202084,...,8.220564,91.779436,7226.0,3.279347,11.477363,7.082340,32.930079,-85.805026,POINT(-85.805026 32.930079),2016

In [77]:
df_with_geom.shape[0]

32936

In [78]:
db_url = "postgresql+psycopg2://postgres:wym45123@localhost:5432/dashboard"
write_df_to_postgres(df_with_geom, table_name="acs_data_all", db_url=db_url)

‚úÖ Êï∞ÊçÆÂ∑≤ÊàêÂäüÂÜôÂÖ• PostgreSQL Ë°® `acs_data_all`

In [35]:
df_enriched = enrich_with_zip_info(df_raw, "../data/us_zip_lat_lon.csv")
df_enriched

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,C16001_035E,C16001_037E,C16001_038E,C24010_001E,C24010_003E,C24010_019E,C24010_042E,C24010_058E,city,state
0,16773.0,8318.0,500.0,431.0,587.0,316.0,236.0,108.0,29.0,425.0,...,0.0,0.0,0.0,3630.0,426.0,660.0,58.0,40.0,NaN,NaN
1,37083.0,18149.0,704.0,1013.0,907.0,674.0,487.0,313.0,294.0,633.0,...,0.0,0.0,0.0,10851.0,1341.0,1591.0,156.0,77.0,NaN,NaN
2,45652.0,22182.0,957.0,1112.0,1436.0,950.0,658.0,376.0,252.0,916.0,...,0.0,0.0,0.0,11965.0,1776.0,1647.0,228.0,101.0,NaN,NaN
3,6231.0,3075.0,126.0,127.0,156.0,123.0,70.0,66.0,34.0,139.0,...,0.0,0.0,0.0,1455.0,91.0,143.0,0.0,0.0,NaN,NaN
4,26502.0,12784.0,465.0,666.0,786.0,509.0,342.0,157.0,133.0,651.0,...,0.0,0.0,0.0,8273.0,873.0,1219.0,0.0,75.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,Hyder,AK
33116,990.0,552.0,30.0,32.0,50.0,19.0,11.0,7.0,9.0,12.0,...,0.0,21.0,0.0,451.0,53.0,29.0,0.0,0.0,Klawock,AK
33117,1582.0,866.0,31.0,72.0,79.0,48.0,15.0,6.0,14.0,33.0,...,0.0,34.0,0.0,549.0,98.0,28.0,11.0,0.0,Metlakatla,AK
33118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Point Baker,AK
33119,2509.0,1356.0,67.0,62.0,88.0,78.0,34.0,3.0,7.0,15.0,...,0.0,7.0,0.0,1067.0,193.0,83.0,18.0,14.0,Wrangell,AK

In [37]:
if 'state' in df_enriched.columns:
    print("‚úÖ ÂåÖÂê´ state Â≠óÊÆµ")
else:
    print("‚ùå ‰∏çÂåÖÂê´ state Â≠óÊÆµ")

‚úÖ ÂåÖÂê´ state Â≠óÊÆµ

In [38]:
# 4. ËÆ°ÁÆóËá™ÂÆö‰πâÊåáÊ†á
df_final = calculate_custom_variables(df_enriched, df_def)
df_final.head()

üîÅ Ê†πÊçÆËá™ÂÆö‰πâÂÖ¨ÂºèËÆ°ÁÆóË°çÁîüÂèòÈáè

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,% multi-unit structures,% without plumbing,% overcrowded housing,% renter-occupied,% households without a vehicle,% with access to a vehicle,commute time,% work at home,% professinal,% service
0,16773.0,8318.0,500.0,431.0,587.0,316.0,236.0,108.0,29.0,425.0,...,7.731392,1.008101,0.900090,35.877588,15.859586,84.140414,3436.0,4.236343,13.333333,19.283747
1,37083.0,18149.0,704.0,1013.0,907.0,674.0,487.0,313.0,294.0,633.0,...,25.385494,0.798388,1.178203,23.517557,13.185024,86.814976,10156.0,6.058644,13.795964,15.371855
2,45652.0,22182.0,957.0,1112.0,1436.0,950.0,658.0,376.0,252.0,916.0,...,16.971333,1.152797,1.631414,42.885081,18.943956,81.056044,10941.0,2.321221,16.748851,14.609277
3,6231.0,3075.0,126.0,127.0,156.0,123.0,70.0,66.0,34.0,139.0,...,2.689136,0.453858,6.858296,24.861321,15.179022,84.820978,1428.0,1.855670,6.254296,9.828179
4,26502.0,12784.0,465.0,666.0,786.0,509.0,342.0,157.0,133.0,651.0,...,21.719929,0.722022,1.083032,25.812274,11.902076,88.097924,7964.0,2.972710,10.552399,15.641243

In [41]:
# 5. ÈáçÂëΩÂêç„ÄÅÊ∏ÖÊ¥óÂàó
df_cleaned = clean_and_rename_columns(df_final, df_def)
df_cleaned.head()

üîÅ ÈáçÂëΩÂêçÂàóÂπ∂Ê†áÂáÜÂåñÂ≠óÊÆµÊ†ºÂºè

,state,city,zipcode,pct_less_than_9th_grade,pct_high_school,pct_bachelor,pct_master,pct_high_school_or_higher,pct_english_speaker,pct_spanish_speaker,...,pct_multi_unit_structures,pct_without_plumbing,pct_overcrowded_housing,pct_renter_occupied,pct_households_without_a_vehicle,pct_with_access_to_a_vehicle,commute_time,pct_work_at_home,pct_professinal,pct_service
0,NaN,NaN,00601,23.498233,26.527007,13.831398,1.304055,64.941949,13.123131,95.881107,...,7.731392,1.008101,0.900090,35.877588,15.859586,84.140414,3436.0,4.236343,13.333333,19.283747
1,NaN,NaN,00602,24.110032,23.341424,15.482495,3.916593,65.839217,24.298961,96.030479,...,25.385494,0.798388,1.178203,23.517557,13.185024,86.814976,10156.0,6.058644,13.795964,15.371855
2,NaN,NaN,00603,17.130178,26.628370,16.312574,5.124464,73.009939,27.886526,95.536877,...,16.971333,1.152797,1.631414,42.885081,18.943956,81.056044,10941.0,2.321221,16.748851,14.609277
3,NaN,NaN,00606,31.407310,27.708470,6.981834,3.567520,54.891661,5.996325,96.826457,...,2.689136,0.453858,6.858296,24.861321,15.179022,84.820978,1428.0,1.855670,6.254296,9.828179
4,NaN,NaN,00610,22.797847,27.900838,13.507918,3.027637,68.258979,21.024438,96.308895,...,21.719929,0.722022,1.083032,25.812274,11.902076,88.097924,7964.0,2.972710,10.552399,15.641243

In [42]:
# 6. ÈôÑÂä†ÁªèÁ∫¨Â∫¶‰∏éÁ©∫Èó¥Â≠óÊÆµ
df_with_geom = attach_zip_latlon_geom(df_cleaned, ZIP_LATLON_PATH)

# 7. Ê∑ªÂä†Âπ¥‰ªΩ‰ø°ÊÅØ
df_with_geom['year'] = 2020
df_with_geom.head()

C:\Users\Now Now\AppData\Local\Temp\ipykernel_45464\2649571494.py:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['zipcode'] = df['zipcode'].astype(str)

,state,city,zipcode,pct_less_than_9th_grade,pct_high_school,pct_bachelor,pct_master,pct_high_school_or_higher,pct_english_speaker,pct_spanish_speaker,...,pct_households_without_a_vehicle,pct_with_access_to_a_vehicle,commute_time,pct_work_at_home,pct_professinal,pct_service,lat,lng,geom,year
0,NaN,NaN,00601,23.498233,26.527007,13.831398,1.304055,64.941949,13.123131,95.881107,...,15.859586,84.140414,3436.0,4.236343,13.333333,19.283747,NaN,NaN,None,2020
1,NaN,NaN,00602,24.110032,23.341424,15.482495,3.916593,65.839217,24.298961,96.030479,...,13.185024,86.814976,10156.0,6.058644,13.795964,15.371855,NaN,NaN,None,2020
2,NaN,NaN,00603,17.130178,26.628370,16.312574,5.124464,73.009939,27.886526,95.536877,...,18.943956,81.056044,10941.0,2.321221,16.748851,14.609277,NaN,NaN,None,2020
3,NaN,NaN,00606,31.407310,27.708470,6.981834,3.567520,54.891661,5.996325,96.826457,...,15.179022,84.820978,1428.0,1.855670,6.254296,9.828179,NaN,NaN,None,2020
4,NaN,NaN,00610,22.797847,27.900838,13.507918,3.027637,68.258979,21.024438,96.308895,...,11.902076,88.097924,7964.0,2.972710,10.552399,15.641243,NaN,NaN,None,2020

In [44]:
db_url = "postgresql+psycopg2://postgres:wym45123@localhost:5432/dashboard"
write_df_to_postgres(df_with_geom, table_name="acs_data_all", db_url=db_url)

‚úÖ Êï∞ÊçÆÂ∑≤ÊàêÂäüÂÜôÂÖ• PostgreSQL Ë°® `acs_data_all`